{
  "printWidth": 100,
  "trailingComma": "all",
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrder": [
    "^(services|state|utils|hooks|components|models|client|configs|constants|contexts|entries|mocks|icons)/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "bracketSpacing": false,
  "singleQuote": true
}
